
.category-col{ 

}

.divider {
  width: 100%;
  height: 1px;
  background-color: #c0c0c0;
  border-radius: 5px;
}

.common-header {
    background: rgb(154, 144, 244);
}

.common-header > ul {
  list-style-type: none;
}

.header-ul {
  display: flex;
  padding: 10px;
}

.header-ul  li{
  margin: 0 10px;
}